<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
        
        <div>
    <p>username</p>
    <input type="text" name="username" required>
        </div>
        <div>
    <p>password</p>
<input type="password" name="password1" required>
        </div>
        <div>
    <p>repeat Password</p>
    <input type="password" name="password2" required>
        </div>
            <div>
    <p>address (optional)</p>
    <input type="text" name="adress">
            </div>
            <div>
    <p>phone number (optional)</p>
    <input type="text" name="pn">
            </div>
        
    <button type="submit">Sign In</button>
</form>


</body>
</html>