<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Italiano restaurant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- <style>
        .position{
            position: fixed;
            left: 215%;
        }
    </style> -->
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mainpage' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dishmenu' %}">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Deliver</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact & Places</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                            </li>
                        {% endif %}
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'worker_orders' %}">Orders</a>
                            </li>
                        {% endif %}
                        <div class="dropdown position">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Log-in's
                            </button>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'signin' %}">Sign in</a></li>
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Log in</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button type="button" class="btn btn-success btn-sm">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </main>
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </footer>
</body>
</html>